.book {
  @include breakpoint("medium") {
    display: grid;
    grid-template-columns: 3fr 5fr;
  }
}

.book__cover {
  border: 1px solid $quartz;
  height: intrinsic;
  width: 100%;
}

.book__details {
  @include breakpoint("medium") {
    margin-left: $space-5;
    max-width: $reading-width;
  }
}

.book__date {
  color: $smoke;
}

.book__purchase-links {
  margin-top: $space-6;
  @include breakpoint("medium") {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
  }
}

.book__purchase-link {
  align-self: stretch;
  background-color: transparent;
  border: 2px solid #d1d7dc;
  display: block;
  line-height: 0;
  margin: $space-1 $space-1 0 0;
  padding: $space-1 $space-3;
  text-align: center;
  z-index: 999;

  @include breakpoint("medium") {
    width: 25%;
  }
  
  &:hover {
    border: $button-border;
    transition: all $base-duration;
  }
}

.book__button-logo {
  max-height: 30px;
  max-width: 100%;
}
