$__sidebar-width: 30%;
$__form-width: 70%;

.contact {
  @include breakpoint("medium") {
    display: flex;
    height: 100%;
    width: 100%;
  }
}

.contact__title {
  margin-top: 0;
}

.contact-form {
  margin: $space-2 $space-5;
  padding: $space-5 $space-1;

  input {
    margin-bottom: $space-4;
  }

  @include breakpoint("medium") {
    margin: $space-2 auto;
    width: $__form-width;
  }
}

.contact-form__form {
  @include breakpoint("medium") {
    margin: 0 auto;
    width: 60%;
  }
}

.contact-form__submit-button {
  margin-top: $space-5;
}

.contact__information-callout {
  background-color: $blue-cotton;
  margin: $space-4 0;
  padding: $space-3;
}
