---
title: About Matthew John Bocchi
---

<article class="bio">
  <figure class="bio__author-photo-wrapper">
    <img
      class="bio__author-photo"
      src="<%= data.pages.about.image %>"
      alt="Photo of Matthew John Bocchi"
    />

    <figcaption class="bio__author-photo-credit">
      <%= data.pages.about.photocredit %>
    </figcaption>

  </figure>

  <div class="bio__text">
    <header>
      <h1>
        <%= data.pages.about.title %>
      </h1>
    </header>

    <p>
      <%= data.pages.about.bio %>
    </p>

  </div>
</article>
